@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-decoration-color: none;
}

:root {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fdf3fa;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #2a2f4f;
}

h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

img {
  width: 20rem;
  aspect-ratio: 1/1;
  border-radius: 10%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 12rem;
  background-color: #917fb3;
  display: block;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  margin-bottom: -0.9rem;
  font-family: "Kaushan Script", cursive;
  font-size: 2.5rem;
  color: #2a2f4f;
}

.burger-menu {
  display: block;
  cursor: pointer;
  font-size: 3rem;
  margin-right: 1rem;
  margin-bottom: -1.2rem;
}
.burger-menu .bx {
  color: #2a2f4f;
}

.navbar {
  display: none;
}
.navbar .navbar__links {
  display: flex;
  justify-content: flex-end;
  margin: 3rem;
  margin-bottom: -0.2rem;
  gap: 3rem;
  list-style: none;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #2a2f4f;
}
.navbar .navbar__links a {
  position: relative;
  font-size: 1.4rem;
  color: #2a2f4f;
}
.navbar .navbar__links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 100%;
  height: 0.1rem;
  background: #2a2f4f;
  border-radius: 0.2rem;
  transform: translateY(0.8rem);
  opacity: 0;
  transition: 0.5s;
}
.navbar .navbar__links a:hover::after {
  transform: translateY(0);
  opacity: 1;
}
.navbar .navbar__links a:focus {
  color: #2a2f4f;
}

.search-bar {
  display: none;
  width: 20rem;
  height: 3rem;
  margin-bottom: -1.3rem;
  margin-right: 1rem;
  background: transparent;
  border: 0.1rem solid #2a2f4f;
  border-radius: 0.2rem;
}
.search-bar input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #2a2f4f;
  font-family: "Poppins", sans-serif;
  padding-left: 0.5rem;
}
.search-bar input::-moz-placeholder {
  color: #2a2f4f;
}
.search-bar input::placeholder {
  color: #2a2f4f;
}
.search-bar button {
  width: 2.8rem;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar button i {
  font-size: 2rem;
  color: #2a2f4f;
}

main {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
}
main .hero {
  width: 100%;
  height: 50vh;
  background-image: url("/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .hero h1 {
  color: #fde2f3;
  font-family: "Kaushan Script", cursive;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
main .hero2 {
  width: 100%;
  height: 10vh;
}
main div {
  margin: 2rem 0;
}
main div p {
  margin: 0 5rem;
  font-size: 2rem;
}

.container {
  width: 80%;
  margin: 2rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container img {
  width: 20rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.2rem solid #2a2f4f;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.blog-section {
  display: flex;
  flex-wrap: wrap;
}
.blog-section .blog {
  border: 2px solid #fde2f3;
  border-radius: 0.5rem;
}
.blog-section .blog img {
  display: flex;
  justify-content: center;
  width: 20rem;
  aspect-ratio: 1/1;
  border-radius: 0.3rem;
  margin: 1rem 0.5rem 0.5rem 2rem;
}
.blog-section .blog .blog-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipes-section {
  display: grid;
  grid-template-columns: 1fr;
}
.recipes-section img {
  display: flex;
  justify-content: center;
  width: 20rem;
  aspect-ratio: 1/1;
  border-radius: 0.3rem;
  margin: 1rem 0.5rem 0.5rem 2rem;
}

.recipes-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10%;
}
.recipes-table table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 0.4rem;
}
.recipes-table table th,
.recipes-table table td {
  border: 0.2rem solid #917fb3;
  padding: 0.4rem;
  text-align: left;
  font-size: 1.5rem;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
  color: #2a2f4f;
}
.recipes-table ol {
  margin-top: 0.4rem;
}

.footer {
  background-color: #2a2f4f;
  height: 22rem;
  display: flex;
  justify-content: center;
}

.footer__links {
  margin: 2vh 15vw;
}
.footer__links li {
  list-style: none;
  margin-bottom: 1rem;
}
.footer__links li:hover {
  transform: translateX(-12px);
}
.footer__links li a {
  font-size: 1.9rem;
  color: #fde2f3;
  margin-bottom: 1rem;
  transition: 0.4s;
}
.footer__links li a:hover {
  color: #917fb3;
}

.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__icon i {
  font-size: 2rem;
  color: #2a2f4f;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: 1rem;
  background-color: #e5beec;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}
.footer__icon i:hover {
  transform: scale(1.8);
  color: #fde2f3;
  background-color: #2a2f4f;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
  }
  .burger-menu {
    display: none;
  }
  .search-bar {
    display: flex;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  .blog-section {
    display: flex;
    flex-wrap: wrap;
  }
  .recipes-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .recipes-table {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .recipes-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=main.css.map */